

body{

  padding:0px;
  margin:0px;
}
.linkStyle::before{
    content:"heading" ;
    color:blue;
    /* width:20px;
    height:50px; */
}
.linkStyle::after{
    content:"bottom" ;
    color:blue;
    /* width:20px;
    height:50px; */
}
div {

    width:300px;
    height:250px;
    border:1px solid  black ;
    overflow:auto;
    
}
#second{

    font-size :20px;
    font-weight:500;
    width:100%;
    height:100%;
    border:none;

}